@charset "utf-8";
/* CSS Document */

body{
  margin:0;
  padding:0;
  height:100%;
  background-color:transparent;
}
body > div{
  position: relative;
  box-sizing: border-box;
}
.header-banner{
  background-color: #e9e9e9;
}
